---
import Layout from "../layouts/Layout.astro";
import DownloadIcon from "../components/icons/DownloadIcon.astro";
import WavePortfolio from "../components/icons/WavePortfolio.astro";
import WavePortfolioTwo from "../components/icons/WavePortfolioTwo.astro";

import "../../styles/animations-scroll.css";

interface Frontmatter {
  title: string;
  description: string;
  slug: string;
}

const posts = await Astro.glob<Frontmatter>("./posts/*.md");
---

<Layout title="cristodca: Web Developer">
  <!-- Hero -->
  <div class="container mx-auto py-32 px-4">
    <div class="flex flex-col items-center">
      <h1 class="main-title">cristodca</h1>
      <h2 class="subtitle">Web Developer</h2>
      <lottie-player
        src="/animations/web-developer.json"
        class="max-w-lg mt-32"
        background="transparent"
        speed="1"
        loop
        autoplay></lottie-player>
    </div>
  </div>

  <!-- Experience -->
  <div class="relative" id="experience">
    <div class="main-container mx-auto px-4 py-32">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div class="flex flex-col justify-center items-start">
          <h2 class="title text-center mb-6">Sobre mí 🐝</h2>
          <p class="text">
            Soy un programador de 22 años. Me gusta pasar tiempo en Internet.
          </p>
          <h3 class="subtitle mt-8">Experiencia profesional 😎</h3>
          <p class="text">
            He trabajado en el desarrollo web desde <b>2019</b>. Durante todos
            estos años he aprendido muchas tecnologías como <b
              >React, Tailwind, NextJS</b
            >, Angular y recientemente Astro.
          </p>
          <p class="text">
            Tengo <b>conocimientos básicos de Backend</b>, pero no es mi
            especialidad. Puedo trabajar con NodeJS/Express y Bases de datos
            tipo SQL (MySQL, PostgreSQL) o Firebase.
          </p>
          <p class="text">
            Actualmente no estoy en búsqueda de un trabajo, pero siéntente libre
            de darle un vistazo a mi CV.
          </p>

          <div class="flex w-full justify-start">
            <a
              href="https://2023-cristodca-com.vercel.app/CV%20-%20Cristopher%20D.%20Chavez.pdf"
              download
              class="button button-primary mt-8"
            >
              Descargar CV <div class="w-6 h-6"><DownloadIcon /></div>
            </a>
          </div>
        </div>

        <div class="flex items-center justify-center">
          <lottie-player
            src="/animations/reading-science.json"
            class="max-w-lg mt-32"
            background="transparent"
            speed="1"
            loop
            autoplay></lottie-player>
        </div>
      </div>
    </div>
  </div>

  <WavePortfolioTwo />
  <div id="portfolio" class="bg-secondary bg-opacity-20">
    <div class="main-container">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div class="flex items-center justify-center">
          <lottie-player
            src="/animations/portfolio.json"
            class="max-w-lg mt-32"
            background="transparent"
            speed="1"
            loop
            autoplay></lottie-player>
        </div>
        <div class="flex flex-col justify-center items-start">
          <h2 class="title">Portafolio</h2>
          <p class="text">Estos son mis proyectos actuales:</p>

          <div class="grid grid-cols-2 gap-4">
            <a
              href="https://www.contalink.com?utm_source=cristo&utm_medium=cristo&utm_campaign=portfolio"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div
                class="aspect-square rounded-2xl flex flex-col items-center justify-center cursor-pointer hover:bg-primary hover:bg-opacity-20 shadow p-2"
              >
                <img
                  src="/images/contalink-icon.png"
                  alt="Contalink"
                  loading="lazy"
                  decoding="async"
                  class="w-1/2"
                />
                <p class="text mb-0 text-center">Contalink</p>
              </div></a
            >
            <a
              href="https://hastalaluna-testing.vercel.app/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div
                class="aspect-square rounded-2xl flex flex-col items-center justify-center cursor-pointer hover:bg-primary hover:bg-opacity-20 shadow p-2"
              >
                <img
                  src="/images/logo-negro-100.png"
                  alt="Hasta la luna Studios"
                  loading="lazy"
                  decoding="async"
                  class="mb-4"
                />
                <p class="text mb-0 text-center">Hasta la luna Studios</p>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <WavePortfolio />

  <div id="blog">
    <div class="main-container pt-0">
      <h2 class="title mb-20">Dale un vistazo a mi blog</h2>
      <ul>
        <!-- post.frontmatter.title will be `string`! -->
      </ul>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
      >
        {
          posts.map((post) => (
            <a href={`/posts/${post.frontmatter.slug}`}>
              <div class="p-4 rounded-2xl shadow hover:bg-primary hover:bg-opacity-20 h-full flex flex-col justify-between">
                <h3 class="subtitle">{post.frontmatter.title}</h3>
                <p class="text line-clamp-3">{post.frontmatter.description}</p>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
