---
import Layout from "../layouts/Layout.astro";
import DownloadIcon from "../components/icons/DownloadIcon.astro";
import WavePortfolio from "../components/icons/WavePortfolio.astro";
import WavePortfolioTwo from "../components/icons/WavePortfolioTwo.astro";

import '../../styles/animations-scroll.css'
---

<Layout title="cristodca: Web Developer">
  <!-- Hero -->
  <div class="container mx-auto py-32 px-4">
    <div class="flex flex-col items-center">
      <h1 class="main-title">cristodca</h1>
      <h2 class="subtitle">Web Developer</h2>
      <lottie-player
        src="/animations/web-developer.json"
        class="max-w-lg mt-32"
        background="transparent"
        speed="1"
        loop
        autoplay></lottie-player>
    </div>
  </div>

  <!-- Experience -->
  <div class="relative" id="experience">
    <div class="main-container mx-auto px-4 py-32">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div class="flex flex-col justify-center items-start">
          <h2 class="title text-center mb-6">About me 🐝</h2>
          <p class="text">
            I'm a 22 years old web developer. I like to be on Internet.
          </p>
          <h3 class="subtitle mt-8">Profesional experience 😎</h3>
          <p class="text">
            I've been working on web development since <b>2019</b>. Among all
            this years I learned a lot of technologies like <b
              >React, Tailwind, NextJS</b
            >, Angular and recently Astro.
          </p>
          <p class="text">
            I have <b>basic backend knownledge</b> but It's not my speciallity, I
            can work with NodeJS/Express and DB like SQL, Postgress and Firebase.
          </p>
          <p class="text">
            Currently I'm not looking for job offers, but feel free to take a
            look to my Resume.
          </p>

          <div class="flex w-full justify-start">
            <a
              href="https://2023-cristodca-com.vercel.app/CV%20-%20Cristopher%20D.%20Chavez.pdf"
              download
              class="button button-primary mt-8"
            >
              Download CV <div class="w-6 h-6"><DownloadIcon /></div>
            </a>
          </div>
        </div>

        <div class="flex items-center justify-center">
          <lottie-player
            src="/animations/reading-science.json"
            class="max-w-lg mt-32"
            background="transparent"
            speed="1"
            loop
            autoplay></lottie-player>
        </div>
      </div>
    </div>
  </div>

  <WavePortfolioTwo />
  <div id="portfolio" class="bg-secondary bg-opacity-20">
    <div class="main-container">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div class="flex items-center justify-center">
          <lottie-player
            src="/animations/portfolio.json"
            class="max-w-lg mt-32"
            background="transparent"
            speed="1"
            loop
            autoplay></lottie-player>
        </div>
        <div class="flex flex-col justify-center items-start">
          <h2 class="title">Portfolio</h2>
          <p class="text">
            Yup, this are some of my projects:
          </p>
          
          <div class="grid grid-cols-2 gap-4">
            <div class="aspect-square rounded-2xl flex flex-col items-center justify-center cursor-pointer hover:bg-primary hover:bg-opacity-20 shadow p-2">
              <img src="/images/contalink-icon.png" alt="Contalink" loading="lazy" decoding="async" class="w-1/2">
              <p class="text mb-0 text-center">
                Contalink
              </p>
            </div>
            <div class="aspect-square rounded-2xl flex flex-col items-center justify-center cursor-pointer hover:bg-primary hover:bg-opacity-20 shadow p-2">
              <img src="/images/logo-negro-100.png" alt="Hasta la luna Studios" loading="lazy" decoding="async" class="mb-4">
              <p class="text mb-0 text-center">
                Hasta la luna Studios
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <WavePortfolio />

  <div id="blog">
    <div class="main-container pt-0">
      <h2 class="title mb-20">
        Dale un vistazo a mi blog
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        <a href="/posts/novedades-nextjs-13-2">
          <div class="p-4 rounded-2xl shadow">
            <h3 class="subtitle">
              Novedades de NextJS 13.2
            </h3>
            <p class="text">
              Repasemos juntos las novedades de NextJS 13.2 con un ejemplo básico
            </p>
          </div>
        </a>

        <a href="/posts/astro-2-0">
          <div class="p-4 rounded-2xl shadow">
            <h3 class="subtitle">
              Lo nuevo de Astro 2.0
            </h3>
            <p class="text">
              Descubre los beneficios de Astro y cómo lo llevan al siguiente nivel en la versión 2.0
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</Layout>
