---
import BoxIcon from "./icons/BoxIcon.astro";
import DiaryIcon from "./icons/DiaryIcon.astro";
import User from "./icons/User.astro";

---

<div class="h-20 sticky top-0 bg-light z-50">
  <div class="container mx-auto px-4 h-full">
    <div class="flex items-center justify-between h-full">
      <div>
        <img 
          src="/logo-56.png" 
          alt="cristodca logo" 
          height="30px"
          width="30px"
          loading="lazy" 
          decoding="async" 
        />
      </div>

      <nav class="hidden md:block">
        <ul class="flex gap-2">
          <li>
            <a href="/#experience" class="button button-link-primary">
             <div class="w-6 h-6">
              <User />
             </div>
             Experience
            </a>
          </li>
          <li>
            <a href="/#portfolio" class="button button-link-primary">
              <div class="w-6 h-6">
                <BoxIcon />
              </div>
              Portfolio
            </a>
          </li>
          <li>
            <a href="/#blog" class="button button-link-primary">
              <div class="w-6 h-6">
                <DiaryIcon />
              </div>
              Blog
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>